$fontColor: #000000;
$bodyFontColor: #999999;
$activeButtonText: #FFFFFF;
$activePink: #FF0058;

section {
}
.homeThumbnail {
  width: 100%;
  height: calc(100vh - 92px);
  position: relative;
  display: flex;
  padding-bottom: 5.7rem;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #000;

  .mainWrap {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    .mainTextArea {
      display: flex;
      flex-direction: column;
      gap: 40px;
      .mainTitle {
        font-size: 98px;
        color: #ffcc00;
        font-family: 'Micro 5', Arial, Helvetica, sans-serif;
        line-height: 0.7;
      }
      .mainDesc {
        font-size: 15px;
        color: #fff;
        line-height: 20px;
      }
    }
    .mainImageArea {
      width: 427px;
      height: 422px;
    }
  }
  .skillWrap {
    overflow: hidden;
    width: 100%;
    position: absolute;
    bottom: 0;

    .skillList {
      height: 60px;
      display: flex;
      justify-content: center;
      color: white;
      gap: 48px;
      padding: 8px 0 16px;
      animation: slideLeftRight 10s linear infinite;

      & > li {
        height: 100%;
        white-space: nowrap;
        font-size: 12px;

        & > :nth-child(odd) {
          display: flex;
          align-items: flex-start;
        }
        &:nth-child(even) {
          display: flex;
          align-items: flex-end;
        }
      }
    }
  }
}
.introSection {
  background-color: white;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  & > h3 {
    font-size: 24px;
    color: $fontColor;
    margin-bottom: 24px;
  }
  & > p {
    width: fit-content;
    text-align-last: center;
    color: #999999;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 40px;
    letter-spacing: -0.5px;
  }

  a {
    color: $fontColor;
    text-decoration: none;
  }

  .introBtnWrap {
    display: flex;
    gap: 8px;
    & > button {
      width: 128px;
      min-height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid black;
      padding: 0 12px;
      color: $fontColor;
      font-size: 15px;
      line-height: 1.4;
      background-color: transparent;
      cursor: pointer;
      transition: background-color .2s ease-in-out, color .2s ease-in-out;

      &.tmiSelector {
        position: relative;
        cursor: pointer;

        .tmiIcon {
          margin-left: 4px;

          path {
            fill: $fontColor;
          }
        }

        .tmiDropdown {
          display: none;
          position: absolute;
          top: 42px;
          right: -1px;
          z-index: 99;

          ul {
            width: 128px;
            display: flex;
            flex-direction: column;
            border: 1px solid #000;
            background-color: #ffffff;

            li {
              width: 100%;
              height: 42px;
              flex: 1;
              display: flex;
              align-items: center;
              justify-content: center;
              color: $fontColor;
              font-size: 15px;
              line-height: 44px;
              border-bottom: 1px solid #000;
              transition: background-color .2s ease-in-out;

              > a {
                color: $fontColor;
                transition: color .2s ease-in-out;
              }

              &:last-child {
                border-bottom: none;
              }

              &:hover {
                background-color: $activePink;
                transition: background-color .2s ease-in-out;
                > a {
                  color: $activeButtonText;
                  transition: color .2s ease-in-out;
                }
              }
            }
          }
        }

        &.opened {
          color: $activeButtonText;
          background-color: $activePink;
          .tmiIcon {
            transform: rotate(180deg);
            transition: transform .2s;

            path {
              fill: $activeButtonText;
            }
          }
          .tmiDropdown {
            display: flex;
          }
        }
      }

      &:hover {
        color: $activeButtonText;
        background-color: $activePink;
        transition: background-color .2s ease-in-out, color .2s ease-in-out;
        > a {
            color: $activeButtonText;
          transition: color .2s ease-in-out;
        }
        .tmiIcon {
          transition: transform .2s;
          path {
            fill: $activeButtonText;
          }
        }
      }
    }
  }
}
.careerSection {
  width: 100%;
  height: fit-content;
  padding-bottom: 80px;
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  gap: 92px;
  .nameTagWrap {
    width: 180px;
    height: 527px;
    background-image: url('../../assets/images/home/employeeCard.png');
    background-repeat: no-repeat;
    background-size: cover;
  }
  .careerInfo {
    padding-top: 100px;
    & > p {
      &:first-child {
        font-size: 20px;
        color: $fontColor;
        margin-bottom: 6px;
      }
      &:not(:first-child) {
        font-size: 128px;
        line-height: 100px;
        font-family: 'Micro 5';
      }
    }
    .careerCarousel {
      position: relative;
      width: 325px;
      height: 127px;
      margin-top: 40px;
      .careerSwiper{
        width: 100%;
        height: 100%;
      }
      .careerItem {
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 6px;

        .careerName {
          color: $fontColor;
          font-size: 15px;
        }

        .careerData {
          color: $bodyFontColor;
          font-size: 13px;
          letter-spacing: -0.5px;
          display: inline-flex;

          gap: 11px;
          > span {
            position: relative;

            &:not(&:first-child) {
              &:after {
                content: '';
                position: absolute;
                width: 1px;
                height: 12px;
                left: -7px;
                top: 50%;
                transform: translateY(-50%);
                background-color: $bodyFontColor;
              }
            }
          }
        }
      }

      & > button {
        position: absolute;
        width: 24px;
        height: 24px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        z-index: 50;
        &.NavigationLeft {
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
        &.NavigationRight {
          top: 50%;
          right: 0;
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }
  }
}
.portfolioSection {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 120px;
  .portfolioWrap {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    & > h3 {
      font-size: 48px;
      font-family: 'Micro 5', Arial, Helvetica, sans-serif;
      letter-spacing: 5px;
      text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
      margin-bottom: 20px;
    }
    .portfolioMenu {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-bottom: 40px;
      & > li {
        font-size: 15px;
      }
      .divider {
        width: 1px;
        height: 12px;
        background-color: #000;
      }
    }
    .portfolioList {
      display: flex;
      gap: 20px;
      width: fit-content;
      height: 760px;
      .portfolioLeftCol,
      .portfolioRightCol {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: fit-content;
        height: 100%;
        .portfolioItem {
          width: 480px;
          height: 220px;
          padding: 20px;
          display: flex;
          align-items: center;
          gap: 20px;
          border: 1px solid #000;
          .portfolioImage {
            width: 180px;
            height: 180px;
            flex-shrink: 0;
            flex-grow: 0;
            border-radius: 100%;
            overflow: hidden;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
            }
          }
          .portfolioDetail {
            flex-grow: 1;
            height: fit-content;
            & > h6 {
              font-size: 15px;
              margin-bottom: 16px;
            }
            & > p {
              font-size: 14px;
              color: #999999;
              margin-bottom: 4px;
            }
          }

          &.more {

            cursor: pointer;
            .portfolioDetail {
              display: flex;
              align-items: center;
              justify-content: center;
              flex-direction: column;
              gap: 8px;
              & > img {
                width: 30px;
                height: 30px;
              }

              & > p {
                color: $fontColor;
                font-size: 15px;
                margin-bottom: 0;
              }
            }
          }
        }
      }
      .portfolioLeftCol {
        justify-content: flex-start;
      }
      .portfolioRightCol {
        justify-content: flex-end;
      }
    }
  }
}
.skillSection {
  width: 100%;
  height: fit-content;
  padding: 120px 0 150px;
  background-color: #35374c;


  & > h3 {
    margin: 0 auto 20px;
    color: #fff;
    font-size: 48px;
    text-align: center;
    font-family: 'Micro 5', Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  }
  .skillArea {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 80px;

    .skillListArea {
      .skillList {
        width: 320px;
        .skillItem {
          display: flex;
          color: #fff;
          font-size: 15px;
          line-height: 40px;
          justify-content: space-between;
          b {
            font-weight: 700;
          }

          &:last-child {
            color: #FFCC00;
          }
        }
      }
    }
    .skillImg {
      width: 560px;
      height: 350px;
      position: relative;
      background-image: url('../../assets/images/home/skillBackground.png');
      background-repeat: no-repeat;
      background-size: 500px auto;
      background-position-x: left;
      background-position-y: bottom;
      .skillVue {
        position: absolute;
        top: 0;
        left: 50%;
        width: 130px;
        height: 130px;
        transform: translateX(-60%);
        animation: float-vue 6s ease-in-out infinite;
        will-change: transform;
        animation-delay: 0.2s;

      }

      @keyframes float-vue {
        0% {
          transform: translate(calc(-60% + 0px), 0px) rotate(-3deg);
        }
        20% {
          transform: translate(calc(-60% + 10px), -10px) rotate(7deg);
        }
        40% {
          transform: translate(calc(-60% - 10px), 18px) rotate(-0.5deg);
        }
        60% {
          transform: translate(calc(-60% + 12px), -20px) rotate(15deg);
        }
        80% {
          transform: translate(calc(-60% - 6px), 16px) rotate(-10deg);
        }
        100% {
          transform: translate(calc(-60% + 0px), 0px) rotate(-3deg);
        }
      }



      .skillSass {
        position: absolute;
        left: 16px;
        bottom: 128px;
        width: 124px;
        height: 93px;
        transform: translateZ(0);
        will-change: transform;
        animation: float-sass 8.2s ease-in-out infinite;
        animation-delay: 0.6s;
      }

      @keyframes float-sass {
        0% {
          transform: translate3d(0px, 0px, 0px) rotate(-6deg) scale(1);
        }
        15% {
          transform: translate3d(6px, -6px, 0px) rotate(5deg) scale(1.002);
        }
        35% {
          transform: translate3d(-10px, 8px, 0px) rotate(-8deg) scale(0.998);
        }
        55% {
          transform: translate3d(8px, -10px, 0px) rotate(6deg) scale(1.001);
        }
        75% {
          transform: translate3d(-4px, 6px, 0px) rotate(-4deg) scale(0.999);
        }
        100% {
          transform: translate3d(0px, 0px, 0px) rotate(-6deg) scale(1);
        }
      }

      .skillJs {
        position: absolute;
        right: 20px;
        bottom: 90px;
        width: 116px;
        height: 116px;
        will-change: transform;
        transform: translateZ(0);
        /* 약간 빠르고 리듬이 다른 움직임 */
        animation: float-js 5.8s cubic-bezier(.22,.9,.31,1) infinite;
        animation-delay: 0.1s;
      }
      .skillTs {
        position: absolute;
        right: -10px;
        bottom: 50px;
        width: 84px;
        height: 84px;
        will-change: transform;
        transform: translateZ(0) rotate(-8deg);
        /* 더 느리고 부드러운 리듬 */
        animation: float-ts 9s ease-in-out infinite;
        animation-delay: 0.4s;
      }


      @keyframes float-js {
        0% {
          transform: translate3d(0px, 0px, 0px) rotate(0deg) scale(1);
        }
        20% {
          transform: translate3d(-10px, -6px, 0px) rotate(-6deg) scale(1.002);
        }
        40% {
          transform: translate3d(0px, 6px, 0px) rotate(5deg) scale(0.998);
        }
        60% {
          transform: translate3d(-8px, -6px, 0px) rotate(-2deg) scale(1.001);
        }
        80% {
          transform: translate3d(6px, 6px, 0px) rotate(5deg) scale(0.999);
        }
        100% {
          transform: translate3d(0px, 0px, 0px) rotate(0deg) scale(1);
        }
      }

      /* TS용 keyframes: 느리고 안정적인 움직임 (±12~20px, 작게 회전) */
      @keyframes float-ts {
        0% {
          transform: translate3d(0px, 0px, 0px) rotate(-6deg) scale(1);
        }
        18% {
          transform: translate3d(12px, -8px, 0px) rotate(5deg) scale(1.002);
        }
        40% {
          transform: translate3d(-10px, 10px, 0px) rotate(-7deg) scale(0.998);
        }
        62% {
          transform: translate3d(6px, -12px, 0px) rotate(4deg) scale(1.001);
        }
        86% {
          transform: translate3d(-4px, 6px, 0px) rotate(-3deg) scale(0.999);
        }
        100% {
          transform: translate3d(0px, 0px, 0px) rotate(-6deg) scale(1);
        }
      }

    }
  }
}
.faqSection {
  width: 100%;
  max-width: 980px;
  height: fit-content;
  padding: 60px 0 120px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 30px;
  .faqImg {
    width: calc(50% - 20px);
    flex-shrink: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .faqContent {
    width: calc(50% - 20px);
    padding-top: 70px;
    height: fit-content;
    & > p {
      font-size: 48px;
      font-family: 'Micro 5';
      margin-bottom: 20px;
    }
    .faqList {
      width: 100%;
      height: fit-content;
      border-top: 1px solid #000;
      .faqItem{
        width: 100%;
        &>p{
          font-size: 15px;
          padding: 15px 12px;
          position: relative;
          user-select: none;
          cursor: pointer;
          .faqIcon{
            cursor: inherit;
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translateY(-50%);
            &.opened{
              transform: translateY(-50%) rotate(180deg);
            }
          }

        }
        &>pre{
          user-select: none;
          width: 100%;
          text-wrap: wrap;
          word-break: break-all;
          padding: 10px 13px 20px;
          color: #999999;
          font-size: 14px;
          line-height: 18px;
        }
        border-bottom: 1px solid #000;
      }
    }
  }
}
.contactMeSection {
  width: 100%;
  height: fit-content;
  padding: 80px 0;
  background-color: #2745f2;
}
@keyframes slideLeftRight {

  0% {
    transform: translateX(0%);
  }
  100% {
    transform:translateX(-800.5px);
  }
}
