section {
}
.homeThumbnail {
  width: 100%;
  height: calc(100vh - 92px);
  position: relative;
  display: flex;
  padding-bottom: 5.7rem;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  background-color: #000;

  .mainWrap {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    .mainTextArea {
      display: flex;
      flex-direction: column;
      gap: 40px;
      .mainTitle {
        font-size: 98px;
        color: #ffcc00;
        font-family: 'Micro 5', Arial, Helvetica, sans-serif;
        line-height: 0.7;
      }
      .mainDesc {
        font-size: 15px;
        color: #fff;
        line-height: 20px;
      }
    }
    .mainImageArea {
      width: 427px;
      height: 422px;
    }
  }
  .skillWrap {
    overflow: hidden;
    width: 100%;
    position: absolute;
    bottom: 0;

    .skillList {
      height: 60px;
      display: flex;
      justify-content: center;
      color: white;
      gap: 48px;
      padding: 8px 0 16px;
      animation: slideLeftRight 10s linear infinite;

      & > li {
        height: 100%;
        white-space: nowrap;
        font-size: 12px;

        & > :nth-child(odd) {
          display: flex;
          align-items: flex-start;
        }
        &:nth-child(even) {
          display: flex;
          align-items: flex-end;
        }
      }
    }
  }
}
.introSection {
  background-color: white;
  padding: 80px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  & > h3 {
    font-size: 24px;
    color: #000;
    margin-bottom: 24px;
  }
  & > p {
    width: fit-content;
    text-align-last: center;
    color: #999999;
    font-size: 15px;
    line-height: 20px;
    margin-bottom: 40px;
    letter-spacing: -0.5px;
  }
  .introBtnWrap {
    display: flex;
    gap: 8px;
    & > button {
      width: 128px;
      min-height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      border: 1px solid black;
      padding: 0 12px;
      font-size: 15px;
      line-height: 1.4;
      background-color: transparent;
      cursor: pointer;

      &.tmiSelector {
        position: relative;
        cursor: pointer;

        .tmiIcon {
          margin-left: 4px;
        }

        .tmiDropdown {
          display: none;
          position: absolute;
          top: 42px;
          right: -1px;
          z-index: 99;

          ul {
            width: 128px;
            display: flex;
            flex-direction: column;
            border: 1px solid #000;
            background-color: #ffffff;

            li {
              width: 100%;
              height: 42px;
              flex: 1;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 15px;
              line-height: 44px;
              border-bottom: 1px solid #000;

              &:last-child {
                border-bottom: none;
              }
            }
          }
        }

        &.opened {
          .tmiDropdown {
            display: flex;
          }
        }

      }
    }
  }
}
.careerSection {
  width: 100%;
  height: fit-content;
  padding-bottom: 80px;
  background-color: #e6e6e6;
  display: flex;
  justify-content: center;
  gap: 92px;
  .nameTagWrap {
    width: 180px;
    height: 527px;
    background-image: url("/src/assets/images/home/employeeCard.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  .careerInfo {
    padding-top: 100px;
    & > p {
      &:first-child {
        font-size: 20px;
        color: #000;
        margin-bottom: 6px;
      }
      &:not(:first-child) {
        font-size: 128px;
        line-height: 100px;
        font-family: 'Micro 5';
      }
    }
    .careerCarousel {
      position: relative;
      width: 325px;
      height: 127px;
      margin-top: 40px;
      background-color: tomato;
      & > button {
        position: absolute;
        width: 24px;
        height: 24px;
        border: none;
        background-color: transparent;
        cursor: pointer;
        &:first-child {
          top: 50%;
          left: 0;
          transform: translateY(-50%);
        }
        &:nth-child(2) {
          top: 50%;
          right: 0;
          transform: translateY(-50%) rotate(180deg);
        }
      }
    }
  }
}
.portfolioSection {
  width: 100%;
  padding-top: 100px;
  padding-bottom: 120px;
  .portfolioWrap {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    & > h3 {
      font-size: 48px;
      font-family: 'Micro 5', Arial, Helvetica, sans-serif;
      letter-spacing: 5px;
      text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
      margin-bottom: 20px;
    }
    .portfolioMenu {
      display: flex;
      align-items: center;
      gap: 12px;
      margin-bottom: 40px;
      & > li {
        font-size: 15px;
      }
      .divider {
        width: 1px;
        height: 12px;
        background-color: #000;
      }
    }
    .portfolioList {
      display: flex;
      gap: 20px;
      width: fit-content;
      height: 760px;
      .portfolioLeftCol,
      .portfolioRightCol {
        display: flex;
        flex-direction: column;
        gap: 20px;
        width: fit-content;
        height: 100%;
        .portfolioItem {
          width: 480px;
          height: 220px;
          padding: 20px;
          display: flex;
          align-items: center;
          gap: 20px;
          border: 1px solid #000;
          .portfolioImage {
            width: 180px;
            height: 180px;
            background-image: url("/src/assets/images/common/logo.png");

            flex-shrink: 0;
            flex-grow: 0;
            border-radius: 100%;
            overflow: hidden;
          }
          .portfolioDetail {
            flex-grow: 1;
            height: fit-content;
            & > h6 {
              font-size: 15px;
              margin-bottom: 16px;
            }
            & > p {
              font-size: 14px;
              color: #999999;
              margin-bottom: 4px;
            }
          }
        }
      }
      .portfolioLeftCol {
        justify-content: flex-start;
      }
      .portfolioRightCol {
        justify-content: flex-end;
      }
    }
  }
}
.skillSection {
  width: 100%;
  height: fit-content;
  padding: 120px 0 150px;
  background-color: #35374c;


  & > h3 {
    margin: 0 auto 20px;
    color: #fff;
    font-size: 48px;
    text-align: center;
    font-family: 'Micro 5', Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    text-shadow: 4px 4px 8px rgba(0, 0, 0, 0.25);
  }
  .skillArea {
    width: 100%;
    max-width: 980px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 80px;

    .skillListArea {
      .skillList {
        width: 320px;
        .skillItem {
          display: flex;
          color: #fff;
          font-size: 15px;
          line-height: 40px;
          justify-content: space-between;
          b {
            font-weight: 700;
          }

          &:last-child {
            color: #FFCC00;
          }
        }
      }
    }
    .skillImg {
      width: 560px;
      height: 350px;
      position: relative;
      background-image: url("/src/assets/images/home/skillBackground.png");
      background-repeat: no-repeat;
      background-size: 500px auto;
      background-position-x: left;
      background-position-y: bottom;
      .skillVue {
        position: absolute;
        top: 0;
        left: 50%;
        width: 130px;
        height: 130px;
        transform: translateX(-60%);

      }
      .skillSass {
        position: absolute;
        left: 16px;
        bottom: 128px;
        width: 124px;
        height: 93px;


      }
      .skillJs {
        position: absolute;
        right: 20px;
        bottom: 90px;
        width: 116px;
        height: 116px;
      }
      .skillTs {
        position: absolute;
        right: -10px;
        bottom: 50px;
        width: 84px;
        height: 84px;
        transform: rotate(-10deg);

      }
    }
  }


}
.faqSection {
  width: 100%;
  max-width: 980px;
  height: fit-content;
  padding: 60px 0 120px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  gap: 30px;
  .faqImg {
    width: calc(50% - 20px);
    flex-shrink: 0;
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  .faqContent {
    width: calc(50% - 20px);
    padding-top: 70px;
    height: fit-content;
    & > p {
      font-size: 48px;
      font-family: 'Micro 5';
      margin-bottom: 20px;
    }
    .faqList {
      width: 100%;
      height: fit-content;
      border-top: 1px solid #000;
      .faqItem{
        width: 100%;
        &>p{
          font-size: 15px;
          padding: 15px 12px;
          position: relative;
          user-select: none;
          cursor: pointer;
          .faqIcon{
            cursor: inherit;
            position: absolute;
            right: 12px;
            top: 50%;
            transform: translateY(-50%);
            &.opened{
              transform: translateY(-50%) rotate(180deg);
            }
          }

        }
        &>pre{
          user-select: none;
          width: 100%;
          text-wrap: wrap;
          word-break: break-all;
          padding: 10px 13px 20px;
          color: #999999;
          font-size: 14px;
          line-height: 18px;
        }
        border-bottom: 1px solid #000;
      }
    }
  }
}
.contactMeSection {
  width: 100%;
  height: fit-content;
  padding: 80px 0;
  background-color: #2745f2;
}
@keyframes slideLeftRight {

  0% {
    transform: translateX(0%);
  }
  100% {
    transform:translateX(-800.5px);
  }
}
