$basicFontColor: #ffffff;
$ActiveFontColor: #ffcc00;
$borderColor: #000000;
$activePink: #FF0058;


.mainHeader {
  width: 100%;
  padding: 20px 40px;
  display: flex;
  position: fixed;
  top: 0;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
  border-bottom: 1px solid $borderColor;
  background-color: rgba(255, 255, 255, 0);
  transition: all 0.3s ease-in-out;
  z-index: 60;


  .logoContainer {
    .logo {
      width: 50px;
      height: 50px;
    }
  }

  .pcNav {
    .navList {
      display: flex;
      gap: 3rem;
      align-items: center;
      font-size: 15px;
      .active{
        color: $ActiveFontColor;
      }
      a {
        color: $basicFontColor; // Change to your desired text color
        text-decoration: none;
        transition: color 0.3s;

        &:hover {
          color: $ActiveFontColor;
        }
      }

      .languageSelector {
        position: relative;
        cursor: pointer;

        &:hover {
          svg {
            path {
              fill: $ActiveFontColor;
              transition: fill 0.3s;
            }
          }
        }

        .languageDropdown {
          display: none;
          position: absolute;
          top: 32px;
          right: 0;
          z-index: 99;

          ul {
            width: 80px;
            height: 88px;
            display: flex;
            flex-direction: column;
            border: 1px solid $borderColor;
            background-color: $basicFontColor;

            li {
              flex: 1;
              display: flex;
              align-items: center;
              justify-content: center;
              font-size: 15px;

              &:first-child {
                border-bottom: 1px solid $borderColor;
              }

              &:hover {
                background-color: $ActiveFontColor;
              }
            }
          }
        }

        &.open {
          svg {
            path {
              fill: $ActiveFontColor;
              transition: fill 0.3s;
            }
          }

          .languageDropdown {
            display: flex;
          }
        }
      }
    }
  }

  .mobileNav {
    width: 2.4rem;
    height: 2.4rem;
    display: none;
    align-self: center;
    position: relative;
    transform: rotate(0deg);
    transition: .5s ease-in-out;
    cursor: pointer;

    span {
      display: block;
      position: absolute;
      height: 0.3rem;
      width: 2.2rem;
      background: $basicFontColor;
      opacity: 1;
      left: 0;
      transform: rotate(0deg);
      -webkit-transition: .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -o-transition: .25s ease-in-out;
      transition: .25s ease-in-out;

      &:nth-child(1) {
        top: 0.25rem;
      }

      &:nth-child(2) {
        width: 1.2rem;
        top: 1.05rem;
        left: 1rem;
      }

      &:nth-child(3) {
        top: 1.85rem;
      }
    }

    &.open {
      span {
        &:nth-child(1) {
          top: 1.05rem;
          transform: rotate(135deg);
        }

        &:nth-child(2) {
          opacity: 0;
          left: -6rem;
        }

        &:nth-child(3) {
          top: 1.05rem;
          transform: rotate(-135deg);
        }
      }
    }
  }

  &.active {
    backdrop-filter: blur(4px);
    background-color: rgba(255, 255, 255, 0.4);
    transition: all 0.3s ease-in-out;

    .pcNav {
      .navList {
        .active{
          color: $activePink;
        }
        a {
          color: $borderColor;

          &:hover {
            color: $activePink;
          }
        }

        .languageSelector {

          &:hover {
            svg {
              path {
                fill: $activePink;
              }
            }
          }

          svg {
            path {
              fill: $borderColor;
            }
          }

          .languageDropdown {
            ul {
              li {
                &:hover {
                  background-color: $activePink;
                }
              }
            }
          }

          &.open {
            svg {
              path {
                fill: $activePink;
              }
            }
          }
        }
      }
    }
  }
}


// Breakpoints
$breakpoint-mobile: 430px;
$breakpoint-tablet: 768px;
$breakpoint-laptop: 1224px;
$breakpoint-desktop: 1824px;

// 미디어쿼리
@media (max-width: $breakpoint-tablet) {
  .mainHeader {
    padding: 16px 24px;

    .logoContainer {
      .logo {
        width: 36px;
        height: 36px;
      }
    }

    .pcNav {
      display: none;
    }

    .mobileNav {
      display: inline-flex;
    }
  }
}